<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706067833037-0drlve2m26cfj9kp989rpjr2ch6dhv80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706067833037-0drlve2m26cfj9kp989rpjr2ch6dhv80</string>
	<key>API_KEY</key>
	<string>AIzaSyA_IGMCrZT18m0T_onoDbJ_GEl52odYTUo</string>
	<key>GCM_SENDER_ID</key>
	<string>706067833037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeet.Roomies</string>
	<key>PROJECT_ID</key>
	<string>roomies-d0f3e</string>
	<key>STORAGE_BUCKET</key>
	<string>roomies-d0f3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706067833037:ios:efe1377b654ea0391c8984</string>
	<key>DATABASE_URL</key>
	<string>https://roomies-d0f3e.firebaseio.com</string>
</dict>
</plist>